@model IEnumerable<TicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<h2>Tickets List</h2>
<partial name="_notification" />
<table class="table table-bordered table-striped text-white">
    <thead class="table-dark text-white">
        <tr class="text-white">
            <th>Ticket Number</th>
            <th>Booking Id</th>
            <th>Flight Seat</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Passport Number</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody class="text-white">
        @foreach (var item in Model)
        {
            <tr class="text-white">
                <td>@item.TicketNumber</td>
                <td>@item.BookingID</td>
                <td>@($"{item.FlightSeat?.Seat?.Row} {item.FlightSeat?.Seat?.Number}" ?? "N/A")</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.PassportNumber</td>
                <td>@item.TicketPrice</td>
            </tr>
        }
    </tbody>
</table>

